.landing-page {
   height: calc(100vh - 80px);
   padding-top: 100px;
   background: rgb(63,208,201);
   background: linear-gradient(75deg, rgba(2,53,60,1) 18%, rgba(68,147,66,1) 57%, rgba(63,208,201,1) 99%);
   .container {
      display: flex;
      justify-content: space-between;
   }
   .introduction {
      width: 50%;
      p {
         color: white;
         font-size: 20px;
         line-height: 1.8;
         letter-spacing: 1px;
         font-weight: 600;
         padding-bottom: 50px;
         text-align: justify;
      }
   }
   img {
      height: 400px;
      margin-right: 50px;
      transition: var(--main-transition);
      filter: drop-shadow(#02353C 0px 5px 15px);
      cursor: pointer;
      &:hover {
         transform: scale(1.04);
         filter: drop-shadow(#02353C 0px 10px 30px);
      }
   }
}
@media (max-width: 992px) {
   .landing-page {
      .introduction {
         width: 100%;
         p {
            font-size: 16px;
         }
      }
      img {
         display: none;
      }
   }
}