.join-us {
   padding-top: 80px;
   background-color: var(--background-main-color);
   min-height: calc(100vh - 80px);

   h1 {
      font-size: 46px;
      text-align: center;
   }

   .container {

      padding-top: 80px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 50px;
   }
}

@media (max-width: 1200px) {
   .join-us .container {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   }
}

@media (max-width: 768px) {
   .join-us .container {
      padding-top: 50px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;
   }
}