.join-us-card {
   cursor: pointer;
   border-radius: 6px;
   box-shadow: var(--main-box-shadow);
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 200px;
   transition: height .6s cubic-bezier(0.25, 0.45, 0.45, 0.95), background-color .8s cubic-bezier(0.25, 0.45, 0.45, 0.95);
   overflow: hidden;
   background-color: white;

   &:hover {
      background-color: var(--main-color);
      height: 350px;
      .main-icon {
         color: white;
      }
   }

   .main-icon {
      transition: inherit;
      font-size: 72px;
      color: var(--main-color);
   }

   h2 {
      transition: inherit;
      font-size: 36px;
      margin-top: 20px;
      color: black;
      margin-bottom: 20px;
   }

   p {
      margin-top: 15px;
      color: white;
      line-height: 1.5;
   }

   .check-icon {
      font-size: 14px;
      color: black;
   }
}

@media (max-width: 1200px) {
   .join-us-card {
      &:hover {
         height: 370px;
      }
   }
}

@media (max-width: 768px) {
   .join-us-card {
      padding: 10px;
      height: 150px;
      &:hover {
         height: 350px;
      }
      .main-icon {
         font-size: 50px;
      }

      h2 {
         font-size: 34px;
         margin-top: 15px;
         margin-bottom: 15px;
      }
   }
}